In [61]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [62]:
bw= pd.read_csv('en.csv')

In [63]:
bw

           en_bad_words
0                  2g1c
1         2 girls 1 cup
2        acrotomophilia
3    alabama hot pocket
4      alaskan pipeline
..                  ...
382                yaoi
383      yellow showers
384               yiffy
385           zoophilia
386                  __

[387 rows x 1 columns]

In [64]:
test = bw["en_bad_words"]

In [65]:
test

0                    2g1c
1           2 girls 1 cup
2          acrotomophilia
3      alabama hot pocket
4        alaskan pipeline
              ...
382                  yaoi
383        yellow showers
384                 yiffy
385             zoophilia
386                    __
Name: en_bad_words, Length: 387, dtype: object

In [66]:
import csv
csv_file = r'en.csv'
txt_file = r'en.txt'
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        reader = csv.reader(my_input_file)
        next(reader)  # skip the header
        my_output_file.write(','.join(row[0] for row in reader))

In [67]:
bw2= pd.read_csv('en.txt')

In [68]:
bw2

Empty DataFrame
Columns: [2g1c, 2 girls 1 cup, acrotomophilia, alabama hot pocket, alaskan pipeline, anal, anilingus, anus, apeshit, arsehole, ass, asshole, assmunch, auto erotic, autoerotic, babeland, baby batter, baby juice, ball gag, ball gravy, ball kicking, ball licking, ball sack, ball sucking, bangbros, bareback, barely legal, barenaked, bastard, bastardo, bastinado, bbw, bdsm, beaner, beaners, beaver cleaver, beaver lips, bestiality, big black, big breasts, big knockers, big tits, bimbos, birdlock, bitch, bitches, black cock, blonde action, blonde on blonde action, blowjob, blow job, blow your load, blue waffle, blumpkin, bollocks, bondage, boner, boob, boobs, booty call, brown showers, brunette action, bukkake, bulldyke, bullet vibe, bullshit, bung hole, bunghole, busty, butt, buttcheeks, butthole, camel toe, camgirl, camslut, camwhore, carpet muncher, carpetmuncher, chocolate rosebuds, circlejerk, cleveland steamer, clit, clitoris, clover clamps, clusterfuck, cock, cocks, coprolagnia, coprophilia, cornhole, coon, coons, creampie, cum, cumming, cunnilingus, cunt, dafuq, dank, darkie, ...]
Index: []

[0 rows x 387 columns]

In [69]:
from termcolor import colored
text='fuck you .'
text2 = 'xiao yan wang fucking NB'
l1=bw2
result = " ".join(colored(t,'white','on_red') if t in l1 else t for t in text.lower().split())
result2 = " ".join(colored(t,'white','on_red') if t in l1 else t for t in text2.lower().split())
print(result)
print(result2)

fuck you .
xiao yan wang fucking nb