In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import pairwise_kernels

In [3]:
train_movies_1 = pd.read_csv('F:/final.csv')

In [4]:
print(type(train_movies_1))

<class 'pandas.core.frame.DataFrame'>

In [5]:
train_movies_1.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
title           object
id               int64
overview        object
genre_ids       object
dtype: object

In [6]:
train_movies_1.isnull().sum(axis=0)

Unnamed: 0      0
Unnamed: 0.1    0
title           0
id              0
overview        0
genre_ids       0
dtype: int64

In [7]:
train_movies_1.dropna()

,Unnamed: 0,Unnamed: 0.1,title,id,overview,genre_ids
0,0,0,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,"[878, 28]"
1,1,1,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...,"[16, 35, 10751]"
2,2,2,The Protégé,645788,Rescued as a child by the legendary assassin M...,"[28, 80, 53]"
3,3,3,The Many Saints of Newark,524369,Young Anthony Soprano is growing up in one of ...,"[80, 18]"
4,4,4,Demonic,774021,A young woman unleashes terrifying demons when...,"[27, 53]"
...,...,...,...,...,...,...
10292,10473,10006,The To Do List,129139,Feeling pressured to become more sexually expe...,"[35, 10749]"
10293,10474,10007,Winter's Bone,39013,17 year-old Ree Dolly sets out to track down h...,[18]
10294,10475,10008,Border,517839,When a border guard with a sixth sense for ide...,"[14, 18, 80]"
10295,10476,10009,Seeds,507498,When his increasingly depraved behavior spiral...,"[27, 53]"
10296,10477,10010,Setup,70586,A group of friends plan out a detailed heist t...,"[28, 80, 18, 53]"

In [8]:
train_movies_1.drop(["Unnamed: 0","Unnamed: 0.1",'genre_ids'], axis = 1,inplace = True)

In [9]:
train_movies_1

,title,id,overview
0,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...
1,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...
2,The Protégé,645788,Rescued as a child by the legendary assassin M...
3,The Many Saints of Newark,524369,Young Anthony Soprano is growing up in one of ...
4,Demonic,774021,A young woman unleashes terrifying demons when...
...,...,...,...
10292,The To Do List,129139,Feeling pressured to become more sexually expe...
10293,Winter's Bone,39013,17 year-old Ree Dolly sets out to track down h...
10294,Border,517839,When a border guard with a sixth sense for ide...
10295,Seeds,507498,When his increasingly depraved behavior spiral...
10296,Setup,70586,A group of friends plan out a detailed heist t...

In [10]:
train_movies_1=train_movies_1.drop_duplicates()

In [11]:
train_movies_1

,title,id,overview
0,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...
1,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...
2,The Protégé,645788,Rescued as a child by the legendary assassin M...
3,The Many Saints of Newark,524369,Young Anthony Soprano is growing up in one of ...
4,Demonic,774021,A young woman unleashes terrifying demons when...
...,...,...,...
10292,The To Do List,129139,Feeling pressured to become more sexually expe...
10293,Winter's Bone,39013,17 year-old Ree Dolly sets out to track down h...
10294,Border,517839,When a border guard with a sixth sense for ide...
10295,Seeds,507498,When his increasingly depraved behavior spiral...
10296,Setup,70586,A group of friends plan out a detailed heist t...

In [12]:
train_movies_1=train_movies_1.reset_index(drop=True)

In [13]:
train_movies_1

,title,id,overview
0,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...
1,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...
2,The Protégé,645788,Rescued as a child by the legendary assassin M...
3,The Many Saints of Newark,524369,Young Anthony Soprano is growing up in one of ...
4,Demonic,774021,A young woman unleashes terrifying demons when...
...,...,...,...
10179,The To Do List,129139,Feeling pressured to become more sexually expe...
10180,Winter's Bone,39013,17 year-old Ree Dolly sets out to track down h...
10181,Border,517839,When a border guard with a sixth sense for ide...
10182,Seeds,507498,When his increasingly depraved behavior spiral...
10183,Setup,70586,A group of friends plan out a detailed heist t...

In [14]:
train_movies_1.loc[(train_movies_1['id'] == 639721)]

,title,id,overview
1,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...

In [15]:
train_movies_1.loc[(train_movies_1['id'] == 11508)]

,title,id,overview
2457,Addams Family Reunion,11508,The Addams Family goes on a search for their r...

In [16]:
639721

639721

In [17]:
tf=TfidfVectorizer(stop_words="english")
tf_matrix= tf.fit_transform(train_movies_1['overview'])

In [18]:
consine_sim= pairwise_kernels(tf_matrix,tf_matrix)

In [21]:
indexs= pd.Series(train_movies_1.index, index=train_movies_1["id"])

In [22]:
indexs

id
580489        0
639721        1
645788        2
524369        3
774021        4
          ...
129139    10179
39013     10180
517839    10181
507498    10182
70586     10183
Length: 10184, dtype: int64

In [24]:
idx= indexs[774021]

In [25]:
idx

4

In [26]:
def get_recomendation(id, similar= consine_sim):
    idx= indexs[id]# movie index
    sim_score= enumerate(consine_sim[idx])#Simplify Looping With Counters
    sim_score= sorted (sim_score, key=lambda x: x[1], reverse= True)#check and sort
    sim_score=sim_score[1:10]#print top 10
    sim_index=[i[0] for i in sim_score]
    print(train_movies_1["id"].iloc[sim_index])

In [27]:
get_recomendation(639721)

9040    107596
2457     11508
3626    127082
7389      6878
1333    715123
9600     42979
6592    567733
3671     25472
617     481084
Name: id, dtype: int64