In [1]:
pip install imdbpy

Collecting imdbpy
  Downloading IMDbPY-2021.4.18-py3-none-any.whl (298 kB)
     |████████████████████████████████| 298 kB 4.2 MB/s
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (from imdbpy) (1.4.27)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from imdbpy) (4.2.6)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->imdbpy) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy->imdbpy) (3.10.0.2)
Installing collected packages: imdbpy
Successfully installed imdbpy-2021.4.18

In [2]:
pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9672 sha256=68dfcf92378ec6a028b311b2c81e001ec05ddec8c3841034bcb9f78fc7e03e14
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [3]:
pip install tmdbsimple

Collecting tmdbsimple
  Downloading tmdbsimple-2.8.1-py3-none-any.whl (38 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbsimple) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbsimple) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbsimple) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbsimple) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbsimple) (3.0.4)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.8.1

In [4]:
import urllib.request
import requests
import json
import imdb
import time
import itertools
import wget
import os
import tmdbsimple as tmdb
import numpy as np
import random
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pickle
import pickle as pkl

In [5]:
api_key = 'cca7512b963db8aa84ed7e1abe3be199' 
url = 'https://api.themoviedb.org/3/movie/550?api_key=cca7512b963db8aa84ed7e1abe3be199'
data = urllib.request.urlopen(url).read()
dataDict = json.loads(data)

In [6]:
poster_folder='posters_final/'
if poster_folder.split('/')[0] in os.listdir('./'):
    print('Folder already exists')
else:
    os.mkdir('./'+poster_folder)

In [7]:
tmdb.API_KEY = api_key 
search = tmdb.Search()

In [8]:
def get_movie_id_tmdb(movie):
    response = search.movie(query=movie)
    movie_id=response['results'][0]['id']
    return movie_id

In [9]:
def get_movie_info_tmdb(movie):
    response = search.movie(query=movie)
    id=response['results'][0]['id']
    movie = tmdb.Movies(id)
    info=movie.info()
    return info

In [10]:
def get_movie_genres_tmdb(movie):
    response = search.movie(query=movie)
    id=response['results'][0]['id']
    movie = tmdb.Movies(id)
    genres=movie.info()['genres']
    return genres

In [11]:
def get_movie_overview_tmdb(movie):
    response = search.movie(query=movie)
    id=response['results'][0]['id']
    movie = tmdb.Movies(id)
    overview=movie.info()['overview']
    return genres

**Popular** **movie**

In [12]:
all_movies=tmdb.Movies()
top_movies=all_movies.popular()

print(len(top_movies['results']))
popular_movs=top_movies['results']

20

Obtain Top 10,000 popular movies from TMDb

In [15]:
all_movies=tmdb.Movies()
top10000_movies=[]
print('Pulling movie list, Please wait...')
for i in range(1,501):
    if i%15==0:
        time.sleep(7)
    movies_on_this_page=all_movies.popular(page=i)['results']
    top10000_movies.extend(movies_on_this_page)
len(top10000_movies)
f3=open('movie_list_week12.pckl','wb')
pickle.dump(top10000_movies,f3)
f3.close()
print('Done!')

Pulling movie list, Please wait...
Done!

In [16]:
f3=open('movie_list_week12.pckl','rb')
top10000_movies_week12=pickle.load(f3)
f3.close()

In [17]:
len(top10000_movies_week12)

10000

In [18]:
import pandas as pd
with open("movie_list_week12.pckl", "rb") as f:
    object = pkl.load(f)
    
df = pd.DataFrame(object)
df.to_csv(r'top10000_movies_week12.csv')

In [19]:
with open('top10000_movies_week12.csv', 'r') as f:
    print(len(f.readlines()))

10033

In [20]:
import pandas as pd

df = pd.read_csv('top10000_movies_week12.csv', index_col=None, header=0, engine='python' )

In [21]:
data = df.values

In [22]:
colnames = df.columns
colnames

Index(['Unnamed: 0', 'adult', 'backdrop_path', 'genre_ids', 'id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'release_date', 'title', 'video', 'vote_average',
       'vote_count'],
      dtype='object')

Add 'popularity'

In [23]:
df.to_csv('train_top10000_week12.csv', columns=['title', 'overview', 'genre_ids', 'id', 'popularity'])

In [24]:
with open('train_top10000_week12.csv', 'r') as f:
    print(len(f.readlines()))

10033

***Upcoming movie***

In [25]:
all_movies=tmdb.Movies()
upcoming_movies=all_movies.upcoming()

print(len(upcoming_movies['results']))
upcoming_movs=top_movies['results']

20

In [26]:
all_movies=tmdb.Movies()
upcoming1000_movies=[]
print('Pulling movie list, Please wait...')
for i in range(1,51):
    if i%15==0:
        time.sleep(7)
    movies_on_this_page=all_movies.upcoming(page=i)['results']
    upcoming1000_movies.extend(movies_on_this_page)
len(upcoming1000_movies)
f4=open('upcoming_movie_list_week12.pckl','wb')
pickle.dump(upcoming1000_movies,f4)
f4.close()
print('Done!')

Pulling movie list, Please wait...
Done!

In [27]:
f4=open('upcoming_movie_list_week12.pckl','rb')
upcoming1000_movies_week12=pickle.load(f4)
f4.close()

In [28]:
len(upcoming1000_movies_week12)

836

**600+ upcoming movies for week10**

In [29]:
with open("upcoming_movie_list_week12.pckl", "rb") as f:
    object = pkl.load(f)
    
df = pd.DataFrame(object)
df.to_csv(r'upcoming_movies_week12.csv')

In [ ]:
# with open('upcoming_movies_week12.csv', 'r') as f:
#     print(len(f.readlines()))

In [30]:
len(upcoming1000_movies_week12)

836

In [31]:
df = pd.read_csv('upcoming_movies_week12.csv', index_col=None, header=0, engine='python')
data = df.values

In [32]:
df.to_csv('train_upcoming_week12.csv', columns=['title', 'overview', 'genre_ids', 'id', 'popularity'])

In [33]:
with open('train_upcoming_week12.csv', 'r') as f:
    print(len(f.readlines()))

837

In [34]:
data1=pd.read_csv("train_upcoming_week12.csv")

In [35]:
data2= pd.read_csv('train_top10000_week12.csv', index_col=None, header=0, engine='python')

In [36]:
frames = [data1, data2]
result = pd.concat(frames)

In [37]:
len(result)

10850

In [38]:
len(data1)

836

In [39]:
len(data2)

10014

In [40]:
result.head()

   Unnamed: 0                     title  ...      id popularity
0           0  Clifford the Big Red Dog  ...  585245   2734.004
1           1                   Encanto  ...  568124   2744.462
2           2          Ron's Gone Wrong  ...  482321   2221.171
3           3   Spider-Man: No Way Home  ...  634649   2098.473
4           4            No Time to Die  ...  370172   1606.287

[5 rows x 6 columns]

In [41]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10850 entries, 0 to 10013
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10850 non-null  int64
 1   title       10834 non-null  object
 2   overview    10616 non-null  object
 3   genre_ids   10838 non-null  object
 4   id          10838 non-null  object
 5   popularity  10834 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 593.4+ KB

In [42]:
any(result.duplicated('id')) # Duplicate ID was found in this table

True

In [43]:
result.to_csv('result.csv')

In [44]:
result

       Unnamed: 0                            title  ...      id popularity
0               0         Clifford the Big Red Dog  ...  585245   2734.004
1               1                          Encanto  ...  568124   2744.462
2               2                 Ron's Gone Wrong  ...  482321   2221.171
3               3          Spider-Man: No Way Home  ...  634649   2098.473
4               4                   No Time to Die  ...  370172   1606.287
...           ...                              ...  ...     ...        ...
10009       10009              Joint Security Area  ...    2440     13.029
10010       10010                     Silent Night  ...  139455     12.032
10011       10011             The Astronaut Farmer  ...    5172     12.780
10012       10012  Hanasaku Iroha: Home Sweet Home  ...  229756     12.932
10013       10013                   Material Girls  ...   10118     14.260

[10850 rows x 6 columns]

In [45]:
result.dtypes

Unnamed: 0      int64
title          object
overview       object
genre_ids      object
id             object
popularity    float64
dtype: object

In [46]:
any(result.duplicated('id')) #ID is duplicate

True

In [47]:
result.isnull().any() #Missing value query

Unnamed: 0    False
title          True
overview       True
genre_ids      True
id             True
popularity     True
dtype: bool

In [48]:
result.isnull().sum() #There are missing values in every row

Unnamed: 0      0
title          16
overview      234
genre_ids      12
id             12
popularity     16
dtype: int64

In [49]:
result_2 = result.drop_duplicates(subset='id', keep='first', inplace=False) #Delete duplicate ID

In [50]:
len(result_2)

10838

In [51]:
no_missing_result = result_2.dropna()

In [52]:
len(no_missing_result)

10611

In [53]:
no_missing_result.isnull().sum()

Unnamed: 0    0
title         0
overview      0
genre_ids     0
id            0
popularity    0
dtype: int64

In [54]:
no_missing_result.to_csv('no_missing_result_week12.csv')

Obtain the target data set, and then perform label separation processing on the data set.